# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Editor files
*.swp
*~
\#*\#
.idea/*
TAGS
*.sublime-project
*.sublime-workspace
.\#*
.dir-locals.el

# Test binary, build with "go test -c"
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Log files
*.log

# Releases and other binaries
bin/
dist/
.dist/

# Don't. Commit. Vendor. Or other package manager dep directories
node_modules
vendor

# macOS
.DS_Store

# Task local state
.task

# VSCode debugger launch configs
launch.json

# Currently a build artifact
CHANGELOG.md

## <<Stencil::Block(custom)>>
config/config.yaml
## <</Stencil::Block>>
